/* Reset dasar untuk menghilangkan margin dan padding default */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

/* Header */
header {
    background: #000; /* Hitam untuk header */
    color: white;
    padding: 20px 0;
    text-align: center;
    position: relative;
}

header h1 {
    margin-bottom: 10px;
    font-size: 2.5em; /* Ukuran font lebih besar */
}

nav {
    position: absolute;
    top: 20px;
    right: 20px;
}

nav ul {
    list-style-type: none padding;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #f4f4f4; /* Warna saat hover */
}

/* Main Section */
main {
    padding: 20px;
}

section {
    margin-bottom: 40px;
}

h2 {
    color: #000; /* Hitam untuk judul */
    margin-bottom: 10px;
    font-size: 2em; /* Ukuran font lebih besar */
}

/* Kontainer Properti */
.property-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* Properti */
.property {
    background: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    margin: 10px;
    text-align: center;
    transition: transform 0.2s;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Bayangan untuk efek kedalaman */
    flex: 1 1 calc(25% - 20px); /* Mengatur lebar properti */
}

.property img {
    max-width: 100%; /* Ukuran foto produk responsif */
    height: 300px;
    width: 200px;
    border-radius: 5px;
}

.property h3 {
    margin: 10px 0;
    font-size: 1.5em; /* Ukuran font lebih besar */
}

.property p {
    margin: 5px 0;
}

/* Tombol Detail */
.btn-detail {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #000; /* Hitam untuk tombol */
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn-detail:hover {
    background-color: #333; /* Warna saat hover */
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background: #000; /* Hitam untuk footer */
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}
