/* Reset dasar untuk menghilangkan margin dan padding default */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

/* Header */
header {
    background: #333; /* Warna biru untuk header */
    color: white;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin-bottom: 10px;
    font-size: 2.5em; /* Ukuran font lebih besar */
}

nav {
    position: absolute;
    top: 20px;
    right: 20px;
}

nav ul {
    list-style-type: none padding;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #f4f4f4; /* Warna saat hover */
}

/* Main Section */
main {
    padding: 20px;
}

.about-section {
    max-width: 800px;
    margin: 0 auto;
}

.about-container {
    display: flex;
    align-items: center; /* Menyelaraskan gambar dan informasi di atas */
    margin-top: 20px;
}

.about-container img {
    max-width: 200px; /* Ukuran foto */
    height: auto;
    margin-right: 20px; /* Jarak antara gambar dan informasi */
}

.about-info {
    text-align: left; /* Rata kiri untuk informasi */
}

.about-info h3 {
    margin-bottom: 10px;
    font-size: 1.8em; /* Ukuran font lebih besar */
}

.about-info p {
    margin: 10px 0;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background: #333; /* Warna gelap untuk footer */
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}
